@import url(https://fonts.googleapis.com/css?family=Merriweather);

/*
I modified this hexagon grid from Graham Pyne:
https://codepen.io/gpyne/pen/iElhp
*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
These numbers were hardcoded before.
I added these variables according to his specifications below
in order to allow the grid to change size dynamically.
I'm doing his "lazy" calculation though, and I think you can tell.
The tiles look beautiful, but aren't spaced as perfectly as
in his example. If I had the time to redo this I would
generate and apply these styles dynamically in the JS.
*/

:root {
  --hexWidth: 4vw;
  --hexHeight: calc( var(--hexWidth)* 1.732)
}

@media only screen and (max-width: 768px) {
  :root {
    --hexWidth: 6vw;
  }
}


.hexagon {
  position: relative;
  display: inline-block;
  /* left/right margin approx. 25% of .hexagon width + spacing */
  margin: 1.5px calc( var(--hexWidth)*.25 + 1.5px);
  background-color: hsl(120, 75%, 75%);
  text-align: center;
}
.hexagon, .hexagon::before, .hexagon::after {
  /* easy way: height is width * 1.732
  actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
  remove border-radius for sharp corners on hexagons */
  width: var(--hexWidth);
  height: var(--hexHeight);
  border-radius: 20%/5%;
}
.hexagon::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(-60deg);
}
.hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(60deg);
}
.hexagon:nth-child(even) {
  /* top approx. 50% of .hexagon height + spacing */
  top: calc((var(--hexHeight)* .50) + 1.5px);
}
.hexagon:hover {
  filter: drop-shadow(0 0 5px #8899CC);
  cursor: pointer;
  z-index: 105;
}
.hexagon:active {
  filter: saturate(3);
  z-index: 110;
}

.hexanone {
  position: relative;
  display: inline-block;
  width: 67px;
  height: 116px;
  margin: 1px 18px;
}
.hexanone:nth-child(even) {
  top: 59px;
}
.hexagontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  font-size: 1.4rem;
  line-height: 1.2;
  z-index: 100;
}

.ibws-fix {
  /* inline-block whitespace fix */
  font-size: 0;
}
.honeycomb {
  margin: 0 auto;
  text-align: center;
  user-select: none;
}
